1. Write a SQL query to get the second highest salary from the Employee table. <br>

+----+--------+<br>
| Id | Salary |<br>
+----+--------+<br>
| 1  | 100    |<br>
| 2  | 200    |<br>
| 3  | 300    |<br>
+----+--------+<br>
For example, given the above Employee table, the query should return 200 as the second highest salary. If there is no second highest salary, then the query should return null.<br><br>

+---------------------+<br>
| SecondHighestSalary |<br>
+---------------------+<br>
| 200                 |<br>
+---------------------+<br>

In [ ]:
SELECT
    IFNULL(
      (SELECT distinct(Salary)
       FROM Employee
       ORDER BY Salary DESC
        LIMIT 1 OFFSET 1),
    NULL) AS SecondHighestSalary

The Employee table holds all employees including their managers. Every employee has an Id, and there is also a column for the manager Id.<br><br>

+----+-------+--------+-----------+ <br>
| Id | Name  | Salary | ManagerId |<br>
++-------+--------+-----------+<br>
| 1  | Joe   | 70000  | 3         |<br>
| 2  | Henry | 80000  | 4         |<br>
| 3  | Sam   | 60000  | NULL      |<br>
| 4  | Max   | 90000  | NULL      |<br>
+----+-------+--------+-----------+<br>
Given the Employee table, write a SQL query that finds out employees who earn more than their managers. For the above table, Joe is the only employee who earns more than his manager.<br><br><br>

+----------+<br>
| Employee |<br>
+----------+<br>
| Joe      |<br>
+----------+<br>

In [ ]:
select res.Name as Employee
from (
         select e.Name, e.Salary, e1.Salary as ManagerSalary
         from Employee e
                  left join employee e1 on e.ManagerID = e1.Id) res
where res.Salary > res.ManagerSalary;